DATABASE_HOST=localhost
DATA_PORT=3306
DATABASE_NAME=cdut_liaowang
DATABASE_USER=cdut_liaowang
DATABASE_PASSWORD=your_password
JWT_SECRET_KEY=your_secret_key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_MINUTES=10080
